@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-main antialiased;
  }
}

/* 繊細なスクロールバー */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-surfaceHighlight rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-text-dim;
}
